<img src="../img/GTK_Logo_Social Icon.jpg" width=175 align="right" />

# Worksheet 2.1:  Exploring Two Dimensional Data -  Answers
This worksheet covers concepts covered in Module 2 - Exploratory Data Analysis in Two Dimensions.  It should take no more than 20-30 minutes to complete.  Please raise your hand if you get stuck.  

There are many ways to accomplish the tasks that you are presented with, however you will find that by using the techniques covered in class, the exercises should be relatively simple. 

## Import the Libraries
For this exercise, we will be using:
* Pandas (http://pandas.pydata.org/pandas-docs/stable/)
* json (https://docs.python.org/3/library/json.html)
* apachelogs (https://pypi.org/project/apachelogs/)
* user-agents (https://pypi.python.org/pypi/user-agents)

In [1]:
import pandas as pd
import json

## Exercise 2.1: Reading various forms of JSON Data
In the `/data/` folder, you will find a series of `.json` files called `dataN.json`, numbered 1-4.  Each file contains the following data:

<table>
    <tr>
        <th></th>
        <th>birthday</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    <tr>
        <td>0</td>
        <td>5\/3\/67</td>
        <td>Robert</td>
        <td>Hernandez</td>
    </tr>
    <tr>
        <td>1</td>
        <td>8\/4\/84</td>
        <td>Steve</td>
        <td>Smith</td>
    </tr>
    <tr>
        <td>2</td>
        <td>9\/13\/91</td>
        <td>Anne</td>
        <td>Raps</td>
    </tr>    
    <tr>
        <td>3</td>
        <td>4\/15\/75</td>
        <td>Alice</td>
        <td>Muller</td>
    </tr>    
</table>

Using the `.read_json()` function and the various configuration options, read all these files into a dataframe.  The documentation is available here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html.

In [3]:
DATA_HOME = '../data/'
df1 = pd.read_json(DATA_HOME + 'data1.json')
df1

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [8]:
df2 = pd.read_json(DATA_HOME + 'data2.json', orient='index')
df2

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [9]:
df3 = pd.read_json(DATA_HOME + 'data3.json')
df3

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

In [11]:
df4 = pd.read_json(DATA_HOME + 'data4.json', orient='split')
df4

  first_name  last_name   birthday
0     Robert  Hernandez   5\/3\/67
1      Steve      Smith   8\/4\/84
2       Anne       Raps  9\/13\/91
3      Alice     Muller  4\/15\/75

## Exercise 2: 
In the data file, there is a webserver file called `hackers-access.httpd`.  For this exercise, you will use this file to answer the following questions:
1.  Which browsers are the top 3 most used browsers in this data?
2.  Which are the least (3) used operating systems?

In order to accomplish this task, do the following:
1. Parse each log to pull out the following relevant information
        - user agent, bytes, status, remote host, number of bytes sent
2. For each log, store the raw text and each piece of information in a data frame
3.  Write a function which takes a User Agent string as an argument and returns the name of the operating system and the browser family.  HINT:  You might want to use `user_agents` module, the documentation for which is available here: (https://pypi.python.org/pypi/user-agents)
4.  Next, apply this function to the column which contains the user agent string.
5.  Store this series as a new column in the dataframe
6.  Count the occurances of each value in the new columns (top 5 is fine)

First we need to grab another python library with pip 
[https://pypi.org/project/apachelogs/](https://pypi.org/project/apachelogs/)

In [13]:
!pip install apachelogs

Collecting apachelogs
  Downloading apachelogs-0.6.1-py3-none-any.whl (17 kB)
Requirement already satisfied: attrs>=17.1 in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (from apachelogs) (21.4.0)
Collecting pydicti~=1.1
  Downloading pydicti-1.2.1-py2.py3-none-any.whl (9.0 kB)
Installing collected packages: pydicti, apachelogs
Successfully installed apachelogs-0.6.1 pydicti-1.2.1

In [30]:
from apachelogs import LogParser

line_parser = LogParser("%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\"")

raw_text_log = '192.161.57.88 - - [30/Oct/2015:15:59:39 +0100] "POST /login_form HTTP/1.1" 200 18354 "http://niels.basjes.nl/login_form" "Mozilla/5.0 (Windows NT 6.1; rv:32.0) Gecko/20100101 Firefox/32.0"'

log_dict = {}
log_dict = line_parser.parse(raw_text_log)
log_dict.entry

'192.161.57.88 - - [30/Oct/2015:15:59:39 +0100] "POST /login_form HTTP/1.1" 200 18354 "http://niels.basjes.nl/login_form" "Mozilla/5.0 (Windows NT 6.1; rv:32.0) Gecko/20100101 Firefox/32.0"'

In [31]:
log_dict.remote_host

'192.161.57.88'

In [32]:
log_dict.request_time

datetime.datetime(2015, 10, 30, 15, 59, 39, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))

In [33]:
log_dict.request_time_fields

{'timestamp': datetime.datetime(2015, 10, 30, 15, 59, 39, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))}

In [34]:
log_dict.bytes_sent

18354

In [35]:
log_dict.directives

{'%h': '192.161.57.88',
 '%l': None,
 '%u': None,
 '%t': datetime.datetime(2015, 10, 30, 15, 59, 39, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600))),
 '%r': 'POST /login_form HTTP/1.1',
 '%>s': 200,
 '%b': 18354,
 '%{Referer}i': 'http://niels.basjes.nl/login_form',
 '%{User-agent}i': 'Mozilla/5.0 (Windows NT 6.1; rv:32.0) Gecko/20100101 Firefox/32.0'}

In [36]:
log_dict.headers_in

dicti({'Referer': 'http://niels.basjes.nl/login_form', 'User-agent': 'Mozilla/5.0 (Windows NT 6.1; rv:32.0) Gecko/20100101 Firefox/32.0'})

In [37]:
#Read in the log file
server_log = open(DATA_HOME + "hackers-access.httpd", "r")

#Create an empty dataframe
parsed_server_data = pd.DataFrame()

# read and parse each line and store the information in the columns of the dataframe
for num, line in enumerate(server_log):
    data = {}
    data = line_parser.parse(line)
    parsed_server_data.loc[num,'raw_log']= data.entry
    parsed_server_data.loc[num,'remote_host']= data.remote_host
    parsed_server_data.loc[num,'user_agent']=data.headers_in["User-agent"]
    parsed_server_data.loc[num,'request_time']=data.request_time
    parsed_server_data.loc[num,'status']=data.final_status
    parsed_server_data.loc[num,'bytes']=data.bytes_sent

parsed_server_data.head()

,raw_log,remote_host,user_agent,request_time,status,bytes
0,195.154.46.135 - - [25/Oct/2015:04:11:25 +0100...,195.154.46.135,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-25 04:11:25+01:00,200.0,24323.0
1,23.95.237.180 - - [25/Oct/2015:04:11:26 +0100]...,23.95.237.180,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-25 04:11:26+01:00,200.0,11114.0
2,23.95.237.180 - - [25/Oct/2015:04:11:27 +0100]...,23.95.237.180,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-25 04:11:27+01:00,302.0,9093.0
3,158.222.5.157 - - [25/Oct/2015:04:24:31 +0100]...,158.222.5.157,Mozilla/5.0 (Windows NT 6.3; WOW64; rv:34.0) G...,2015-10-25 04:24:31+01:00,200.0,11114.0
4,158.222.5.157 - - [25/Oct/2015:04:24:32 +0100]...,158.222.5.157,Mozilla/5.0 (Windows NT 6.3; WOW64; rv:34.0) G...,2015-10-25 04:24:32+01:00,302.0,9093.0

In [38]:
!pip install apache-log-parser

Requirement already satisfied: apache-log-parser in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (1.7.0)
Requirement already satisfied: six in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (from apache-log-parser) (1.16.0)
Requirement already satisfied: user-agents in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (from apache-log-parser) (2.2.0)
Requirement already satisfied: ua-parser>=0.10.0 in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (from user-agents->apache-log-parser) (0.18.0)

In [39]:
!pip install ua-parser user-agents

Requirement already satisfied: ua-parser in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (0.18.0)
Requirement already satisfied: user-agents in /Users/charlesgivre/.conda/envs/data-prep/lib/python3.8/site-packages (2.2.0)

In [40]:
# Step 3: Fix the functions to parse os and family from the user_agent column
from user_agents import parse

def get_os(x):
    user_agent_os = parse(x).os
    return user_agent_os

def get_browser(x):
    user_agent_browser = parse(x).browser
    return user_agent_browser

In [41]:
get_os(log_dict.headers_in["User-agent"])

OperatingSystem(family='Windows', version=(7,), version_string='7')

In [42]:
get_browser(log_dict.headers_in["User-agent"])

Browser(family='Firefox', version=(32, 0), version_string='32.0')

In [43]:
# Fixed functions. We need to get only the 'family' item from these objects. 

def get_os(x):
    user_agent_os = parse(x).os.family
    return user_agent_os

def get_browser(x):
    user_agent_browser = parse(x).browser.family
    return user_agent_browser

In [44]:
#Apply the functions to the dataframe
parsed_server_data['os'] = parsed_server_data['user_agent'].apply( get_os )
parsed_server_data['browser'] = parsed_server_data['user_agent'].apply( get_browser )

In [45]:
parsed_server_data.sample(5)

,raw_log,remote_host,user_agent,request_time,status,bytes,os,browser
588,23.95.238.253 - - [26/Oct/2015:05:11:39 +0100]...,23.95.238.253,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-26 05:11:39+01:00,302.0,9093.0,Windows,Firefox
1002,172.245.225.213 - - [26/Oct/2015:17:16:56 +010...,172.245.225.213,Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7....,2015-10-26 17:16:56+01:00,200.0,11620.0,Windows,IE
658,31.187.79.201 - - [26/Oct/2015:07:34:16 +0100]...,31.187.79.201,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-26 07:34:16+01:00,200.0,18350.0,Windows,Firefox
891,107.161.83.180 - - [26/Oct/2015:13:43:40 +0100...,107.161.83.180,Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7....,2015-10-26 13:43:40+01:00,200.0,16806.0,Windows,IE
378,186.206.255.185 - - [25/Oct/2015:19:50:02 +010...,186.206.255.185,Mozilla/5.0 (Windows NT 5.1; rv:35.0) Gecko/20...,2015-10-25 19:50:02+01:00,302.0,9093.0,Windows,Firefox

In [46]:
#Step 6: Count the values in new columns
parsed_server_data['os'].value_counts()

Windows      3185
Linux         125
Mac OS X       80
Chrome OS      60
Ubuntu          6
Name: os, dtype: int64

In [47]:
parsed_server_data['browser'].value_counts()

Firefox    1476
Chrome      789
Opera       556
Dragon      533
IE           78
Safari       24
Name: browser, dtype: int64

In [29]:
#Get the top 3 values
parsed_server_data['os'].value_counts().head(3)

os
Windows     3185
Linux        125
Mac OS X      80
Name: count, dtype: int64

In [30]:
#Get lowest 3 values
parsed_server_data['browser'].value_counts(ascending=True).head(3)

browser
Safari     24
IE         78
Dragon    533
Name: count, dtype: int64

# Exercise 3:
Using the `dailybots.csv` film, read the file into a DataFrame and perform the following operations:
1.  Filter the DataFrame to include bots from the Government/Politics Industry.
2.  Calculate the ratio of hosts to orgs and add this as a column to the DataFrame and output the result

In [48]:
bots_df = pd.read_csv(DATA_HOME + 'dailybots.csv')
bots_df.sample(5)

            date      botfam             industry  hosts  orgs
4633  2016-08-23  zeroaccess  Healthcare/Wellness     13     8
2179  2016-07-09      Sality              Finance     58    13
2891  2016-07-22      PushDo        Manufacturing    235    10
691   2016-06-13      Necurs            Education     40    23
3942  2016-08-10      Ramnit  Healthcare/Wellness      3     3

In [49]:
gov_df = bots_df[bots_df['industry'] == "Government/Politics"]

In [53]:
gov_df.sample(5)

            date      botfam             industry  hosts  orgs      ratio
4390  2016-08-18        Zusy  Government/Politics      2     1   2.000000
3044  2016-07-25      Necurs  Government/Politics    118    10  11.800000
3841  2016-08-08  zeroaccess  Government/Politics      7     6   1.166667
1653  2016-06-30      Necurs  Government/Politics     45     9   5.000000
4849  2016-08-27  zeroaccess  Government/Politics      3     2   1.500000

In [55]:
gov_df['ratio'] = gov_df['hosts']/ gov_df['orgs']
gov_df.sample(5)

/var/folders/k2/j2l211yx0pn2tplx4slb7l6w0000gn/T/ipykernel_49332/2193131786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gov_df['ratio'] = gov_df['hosts']/ gov_df['orgs']

            date  botfam             industry  hosts  orgs      ratio
1090  2016-06-20  Necurs  Government/Politics    157    13  12.076923
2278  2016-07-11  PushDo  Government/Politics      2     2   1.000000
4703  2016-08-25   Bedep  Government/Politics     40    11   3.636364
257   2016-06-05  Sality  Government/Politics     35     6   5.833333
1022  2016-06-19   Bedep  Government/Politics     59    11   5.363636

# Exercise 4:

Read a more ```evil``` JSON ```eve_small.json```, where each line contains a nested JSON object. Derive one DataFrame, where all levels for the ```stats``` key are expanded to a top level column of that DataFrame. Easiest is to natively open the file in Python, loop over each line, use [json.loads](https://docs.python.org/3.5/library/json.html) from the json library, and then [json_normalize](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html) to expand the nested structure to top-level columns, append to a simple Python list and finally call [pd.concat](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.concat.html) on the list to get one complete DataFrame.

In [56]:
def nested_json_to_df(fname_str):
    with open(fname_str, 'r') as f:
        l = []
        for line in f:
            if not line.strip():
                continue
            else:
                d = json.loads(line)
                if 'stats' in d.keys():
                    df_tmp = pd.json_normalize(d)
                    l.append(df_tmp)       
    return pd.concat(l, ignore_index=True)

In [38]:
eve = nested_json_to_df(DATA_HOME + 'eve_small.json')

In [39]:
eve.sample(5)

,timestamp,event_type,stats.uptime,stats.capture.kernel_packets,stats.capture.kernel_drops,stats.decoder.pkts,stats.decoder.bytes,stats.decoder.invalid,stats.decoder.ipv4,stats.decoder.ipv6,...,stats.flow_mgr.rows_checked,stats.flow_mgr.rows_skipped,stats.flow_mgr.rows_empty,stats.flow_mgr.rows_busy,stats.flow_mgr.rows_maxlen,stats.dns.memuse,stats.dns.memcap_state,stats.dns.memcap_global,stats.http.memuse,stats.http.memcap
57,2017-04-06T18:21:59.000112+0000,stats,408,20,0,20,936,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
68,2017-04-06T18:23:16.000208+0000,stats,485,26,0,26,1188,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
7,2017-04-06T18:16:09.000175+0000,stats,58,2,0,2,180,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
28,2017-04-06T18:18:36.000135+0000,stats,205,11,0,11,558,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0
12,2017-04-06T18:16:44.000153+0000,stats,93,5,0,5,306,0,0,2,...,65536,65536,0,0,0,0,0,0,0,0

# Exercise 5
In this exercise, you will learn how to convert a PCAP file into JSON and do some basic summarization of the data.  In the `data` directory, you will find a file called `http.pcap`.  Our first step is to convert this to JSON.  To do this we have installed a python module called `pcapview` (docs available here: https://pydigger.com/pypi/pcapview) which can convert the pcap file to JSON.  

Once you've done that, your assignment is to answer the following questions:
1.  What are the most frequent source IP addresses?
2.  How many differnet source ports were accessed?

To do this you will have to load this data into a DataFrame.  Using what we've learned in class, do the following:
1.  Load the data into a DataFrame using the technique of your choice
2.  Extract the requisite columns from the DataFrame, in this case, you want the source IP and source ports
3.  Execute a `value_counts()` on those columns.

In [57]:
#Load the data
with open(DATA_HOME + 'http-pcap.json') as data_file:    
    pcap_data = json.load(data_file)

#Normalize it and load it into a DataFrame
df = pd.DataFrame( pd.json_normalize(pcap_data) )

#View the results
df.head()

,time,timestamp,IP.version,IP.ttl,IP.proto,IP.options,IP.len,IP.dst,IP.frag,IP.flags,...,DNS.opcode,DNS.rcode,DNS.ra,DNS.id,DNS.cd,DNS.an.rrname,DNS.an.rclass,DNS.an.type,DNS.an.ttl,DNS.an.rdata
0,1.084443e+09,2004-05-13T10:17:07.311224,4,128,6,[],48,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.084443e+09,2004-05-13T10:17:08.222534,4,47,6,[],48,145.254.160.237,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.084443e+09,2004-05-13T10:17:08.222534,4,128,6,[],40,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.084443e+09,2004-05-13T10:17:08.222534,4,128,6,[],519,65.208.228.223,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.084443e+09,2004-05-13T10:17:08.783340,4,47,6,[],40,145.254.160.237,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df1 = pd.read_json(DATA_HOME + 'http-pcap.json')

In [63]:
df1['IP'].sample(5)

14    {'version': 4, 'ttl': 128, 'proto': 6, 'option...
1     {'version': 4, 'ttl': 47, 'proto': 6, 'options...
36    {'version': 4, 'ttl': 128, 'proto': 6, 'option...
16    {'version': 4, 'ttl': 249, 'proto': 17, 'optio...
30    {'version': 4, 'ttl': 47, 'proto': 6, 'options...
Name: IP, dtype: object

In [64]:
#Extract the source port and count the unique values
df['TCP.sport'].value_counts(dropna=False)

80.0      22
3372.0    16
3371.0     3
NaN        2
Name: TCP.sport, dtype: int64

In [65]:
#Extract the source IP and count the unique values
df['IP.src'].value_counts(dropna=False)

145.254.160.237    20
65.208.228.223     18
216.239.59.99       4
145.253.2.203       1
Name: IP.src, dtype: int64